.search-menu{
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    margin: 10px 40px;
    font-family: "Nunito Sans", sans-serif;
}

.search-menu #country_search{
    height: 50px;
    width: 650px;
    padding: 0 0 0 20px;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.425);;
    border: 1px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 52%);
    font-size: 16px;
    border-radius: 5px;
}

.search-menu #region_search{
    width: 300px;
    margin: 0 62px 0 0;
    box-shadow: 0 2px 5px rgba(128, 128, 128, 0.425);;
    border: 1px solid hsl(0, 0%, 98%);
    color: hsl(0, 0%, 52%);
    font-size: 16px;
    border-radius: 5px;
    padding:  0 20px
}